// EXECUTION SETTINGS AND GLOBAL DEFAULTS

// Global default params, used in configs
params {
    
    input_csv = '/data/pipelines/development/sge/call-mtSNV/nf/input.csv'

    output_dir = '/data/pipelines/development/sge/call-mtSNV/nf-test-out'
//    temp_dir = '/scratch/temp'

    // References
   mt_ref = '/data/users/tyamaguchi/docker/mt/mitochondria-ref/chrRSRS.fasta'
   mito_ref = '/data/users/tyamaguchi/docker/mt/mitochondria-ref'


   query = '(chr(M) & mate_chr(M)) | (chr(Y) & after(59000000) & mate_chr(M))'


    rsrs_out = "/output/RSRS"
    extract_reads_out = "/output/ExtractReads"
    mt_ref_type = "RSRS"
    input_file_type = "bam"

    mtoolbox_out = "/data/pipelines/development/sge/call-mtSNV/nf-test-out/mtoolbox"
    mitocaller_out = "/data/pipelines/development/sge/call-mtSNV/nf-test-out/mitocaller"
}

// Metadata
manifest {
    name = 'call-mtSNV-nf'
    author = 'Takafumi Yamaguchi'
   // homePage = "https://github.com/uclahs-cds/pipeline-align-RNA"
   // description = "RNAseq pipeline based on nf-core pipeline https://github.com/nf-core"
    mainScript = 'main.nf'
    version = '0.1'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

// Process specific scope
process {
    cache = true 
    executor = "local" 
//  executor = "sge"

    // Please note that queue, cpu and mem will not work if executor = "local" 
    withLabel: extract_reads {
        cpus = 1 // number of cores (e.g: 2) - This is the default for fastp
        memory = '2GB' // amount of memory (e.g 2B, 2KB, 2MB, 2GB or 2TB)
    }

    withLabel: run_mtoolbox {
        cpus = 4
        // hard-coded in MToolBox.sh java -Xmx4g. CPCG WGS usually requires 9-12G per core when 4 cores were used. Several samples required more.
        memory = '13GB'
    }

    withLabel: run_mitocaller {
        cpus = 1
        memory = "2G"
    }


}

// Other scopes - https://www.nextflow.io/docs/latest/config.html#config-scopes
docker {
    enabled = true 
    sudo = true
}
