[submodule "pipeline-Nextflow-config"]
	path = pipeline-Nextflow-config
	url = https://github.com/uclahs-cds/pipeline-Nextflow-config.git
[submodule "external/pipeline-Nextflow-config"]
	path = external/pipeline-Nextflow-config
	url = https://github.com/uclahs-cds/pipeline-Nextflow-config.git
