import nextflow.util.SysHelper

// Metadata
manifest {
    name = "call-mtSNV"
    author = ["Alfredo Enrique Gonzalez", "Takafumi Yamaguchi", "Jieun Oh", "Kiarod Pashminehazar"]
    description = "Nextflow pipeline to detect mitochondrial SNV from normal or tumor BAMs or CRAMs: extracts and remaps mitochondorial reads then calls variants"
    version = "5.0.0"
    }
