import nextflow.util.SysHelper

process {
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 3.GB * task.attempt, 'memory' ) }

    errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }
    maxRetries = 1

    withLabel:process_low {
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium {
        cpus = { check_max( 6 * task.attempt, 'cpus' ) }
        memory = { check_max( 42.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_high {
        cpus = { check_max(35 * task.attempt, 'cpus' ) }
        memory = { check_max( 84.GB * task.attempt, 'memory' ) }
    }
}

