import nextflow.util.SysHelper

params { 
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

    ucla_cds = true

    // tools and their versions
    mtoolbox_version = "1.2.1-b52269e"
    call_heteroplasmy_version = "1.0.1"
    mitocaller_version = "1.0.0"
    mitoCaller2vcf_version = "1.0.0"
    bamql_version = "1.6.1"
    pipeval_version = "2.1.5"

    validate_docker_image = "blcdsdockerregistry/validate:${pipeval_version}"
    BAMQL_docker_image = "blcdsdockerregistry/bamql:${params.bamql_version}"
    MToolBox_docker_image = "blcdsdockerregistry/mtoolbox:${params.mtoolbox_version}"
    mitocaller_docker_image = "blcdsdockerregistry/mitocaller:${params.mitocaller_version}"
    mitoCaller2vcf_docker_image = "blcdsdockerregistry/mitocaller2vcf:${params.mitoCaller2vcf_version}"
    heteroplasmy_script_docker_image = "blcdsdockerregistry/call-heteroplasmy-script:${params.call_heteroplasmy_version}"

    }

process {
    cache = true
    executor = "local"
    echo = true
    }

docker {
    enabled = true
    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
    }
