import nextflow.util.SysHelper

process {
    cache = true
    executor = "local"
    echo = true
    }

params { 
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

    ucla_cds = true

    validate_docker_image = "blcdsdockerregistry/validate:2.1.5"
    BAMQL_docker_image = "blcdsdockerregistry/bamql:1.6.1"
    MToolBox_docker_image = "blcdsdockerregistry/mtoolbox:1.2.1-b52269e"
    mitocaller_docker_image = "blcdsdockerregistry/mitocaller:1.0.0"
    mitoCaller2vcf_docker_image = "blcdsdockerregistry/mitocaller2vcf:1.0.0"
    heteroplasmy_script_docker_image = "blcdsdockerregistry/call-heteroplasmy-script:1.0.1"

    // tools and their versions
    mtoolbox_version = "MToolBox-1.2.1-b52269e"
    call_heteroplasmy_version = "call-heteroplasmy-1.0.1"
    mitocaller_version = "mitoCaller-1.0.0"
    mitoCaller2vcf_version = "mitoCaller2vcf-1.0.0"
    bamql_version = "bamql-1.6.1"
    }

docker {
    enabled = true
    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
    }