process {
    withName: validate_input {
        cpus = 1
        memory = 2.GB
        }
    withName: extract_mtDNA_BAMQL {
        cpus = 1
        memory = 4.GB
        }
    withName: align_mtDNA_MToolBox {
        cpus = 16
        memory = 29.GB
        }
    withName: call_mtSNV_mitoCaller {
        cpus = 1
        memory = 2.GB
        }
    withName: convert_mitoCaller2vcf_mitoCaller {
        cpus = 13
        memory = 16.GB
        }
    withName: call_heteroplasmy {
        cpus = 1
        memory = 2.GB
        }
    withName: validate_output {
        cpus = 1
        memory = 2.GB
        }
    }
