process {
    withName: Validate_Inputs {
        cpus = 2
        memory = 2.GB
        }
    withName: extract_mtDNA_BAMQL {
        cpus = 1
        memory = 2.GB
        }
    withName: align_mtDNA_MToolBox {
        cpus = 4
        memory = 25.GB
        }
    withName: call_mtSNV_mitoCaller {
        cpus = 2
        memory = 2.GB
        }
    withName: convert_mitoCaller2vcf_mitoCaller {
        cpus = 2
        memory = 6.GB
        }
    withName: call_heteroplasmy {
        cpus = 2
        memory = 2.GB
        }
    }
