process {
    withName: validate_input {
        cpus = 1
        memory = 2.GB
        }
    withName: extract_mtDNA_BAMQL {
        cpus = 1
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 3
            }
        }
    }
    withName: extract_mtDNA_SAMtools {
        cpus = 1
        memory = 8.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 3
            }
        }
    }
    withName: align_mtDNA_MToolBox {
        cpus = 6
        memory = 35.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: downsample_SAM_Picard {
        cpus = 1
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 3
            }
        }
    }
    withName: call_mtSNV_mitoCaller {
        cpus = 1
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 3
            }
        }
    }
    withName: convert_mitoCaller2vcf_mitoCaller {
        cpus = 2
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: call_heteroplasmy {
        cpus = 2
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 3
            }
        }
    }
    withName: validate_output {
        cpus = 1
        memory = 2.GB
        }
}
