process {
    withName: Validate_Inputs {
        cpus = max_number_of_cpus_available
        memory = max_amount_of_memory_available
    }
    withName: extract_mtDNA_BAMQL {
        cpus = max_number_of_cpus_available
        memory = max_amount_of_memory_available
    }
    withName: align_mtDNA_MToolBox {
        cpus = max_number_of_cpus_available
        memory = max_amount_of_memory_available
    }
    withName: call_mtSNV_mitoCaller {
        cpus = max_number_of_cpus_available
        memory = max_amount_of_memory_available
    }
    withName: convert_mitoCaller2vcf_mitoCaller {
        cpus = max_number_of_cpus_available
        memory = max_amount_of_memory_available
    }
    withName: call_heteroplasmy {
        cpus = max_number_of_cpus_available
        memory = max_amount_of_memory_available
    }
}
