
def amount_of_memory = ((int) (((java.lang.management.ManagementFactory.getOperatingSystemMXBean()
    .getTotalPhysicalMemorySize() / (1024.0 * 1024.0 * 1024.0)) * 0.9) / params.max_number_of_parallel_jobs ))
if (amount_of_memory < 1) {
    amount_of_memory = 1
}
amount_of_memory = amount_of_memory.toString() + " GB"



process {
    withName: BAMQL_extract_mt_read {
        cpus = number_of_cpus
        memory = amount_of_memory
    }
    withName: run_samtools_bam2fq {
        cpus = 1
        memory = 8.GB
    }
}
