import nextflow.util.SysHelper


process {
    withName: Validate_Inputs {
        cpus = 1
        memory = 2.GB
    }
    withName: extract_mtDNA_BAMQL {
        cpus = 12
        memory = 4.GB
    }
    withName: align_mtDNA_MToolBox {
        cpus = 35
        memory = 65.GB
    }
    withName: call_mtSNV_mitoCaller {
        cpus = 13
        memory = 2.GB
    }
    withName: convert_mitoCaller2vcf_mitoCaller {
        cpus = 13
        memory = 6.GB
    }
    withName: call_heteroplasmy {
        cpus = 16
        memory = 2.GB
    }
}
