import nextflow.util.SysHelper

params {
    // sample or run name (for organizing output folder)
    run_name = "sample_run_000" 

    // Set sample_mode to single' for single sample mode, and 'paired' for Tumor Normal pairs.
    sample_mode = '' 

    // sample inputs
    input_csv = " " //refer to template csv

    // input/output locations
    output_dir = " " 
    temp_dir = '/scratch' //Location of temp files created. /scratch recommended

    // References
    directory_containing_mt_ref_genome_chrRSRS_files = '' // example: '../genome_fasta/'
    gmapdb = '' // example:'../gmapdb/gmapdb_2021-03-08/gmapdb/'
  
    // Intermediate Steps
    save_intermediate_files = true  //true or false
    cache_intermediate_pipeline_steps = false // Can be switched to true for testing or when running interactively and debugging

    // SGE scheduler
    sge_scheduler = false // usually false, but switch to true if running on SGE or depending external configurations

    }

includeConfig 'methods.config'

// Metadata
manifest {
    name = "call-mtSNV"
    author = "Takafumi Yamaguchi; Alfredo Enrique Gonzalez "
    description = "Pipeline for calling mitochonrdial SNVs"
    version = "1.0.0"
    }