import nextflow.util.SysHelper

process {
    withName: Validate_Inputs {
        cpus = SysHelper.getAvailCpus()
        memory = SysHelper.getAvailMemory()
    }
    withName: extract_mtDNA_BAMQL {
        cpus = SysHelper.getAvailCpus()
        memory = SysHelper.getAvailMemory()
    }
    withName: align_mtDNA_MToolBox {
        cpus = SysHelper.getAvailCpus()
        memory = SysHelper.getAvailMemory()
    }
    withName: call_mtSNV_mitoCaller {
        cpus = SysHelper.getAvailCpus()
        memory = SysHelper.getAvailMemory()
    }
    withName: convert_mitoCaller2vcf_mitoCaller {
        cpus = SysHelper.getAvailCpus()
        memory = SysHelper.getAvailMemory()
    }
    withName: call_heteroplasmy {
        cpus = SysHelper.getAvailCpus()
        memory = SysHelper.getAvailMemory()
    }
}
