import nextflow.util.SysHelper

params {
    // sample
    run_name = "test_file_TCGA_WES_010prcnt_paired"

    //Single or Paired?
    sample_mode = 'single' // 'single' or 'paired'

    // sample inputs
    input_csv = '/hot/users/agonzalez/002_Nextflowization_mtSNV/20220316/pipeline-call-mtSNV/test_and_example/example_input_tiny_bam_slurm.csv'

    // input/output locations
    output_dir = "${projectDir}/test/outputs/" //
    temp_dir = '/scratch/' //

    // References
    directory_containing_mt_ref_genome_chrRSRS_files = '/hot/users/agonzalez/002_Nextflowization_mtSNV/01_Version_1.0/01_pipeline/SGE/output/genome_fasta/'
    gmapdb = '/hot/ref/mitochondria_ref/gmapdb/gmapdb_2021-03-08/gmapdb/'

    // Intermediate Steps
    save_intermediate_files = true
    cache_intermediate_pipeline_steps = true

    // SGE scheduler true or false?
    sge_scheduler = false

    // Apply ucla-cds specific configuration? true or false
    ucla_cds = true

    // Replace the maximum resource values if not running on 'local' executor
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

}

// Load configs with rudimentary definitions; loaded in this specific order)
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/config/resource-allocation.config"

// Metadata
manifest {
    name = "call-mtSNV"
    author = "Takafumi Yamaguchi; Nextflowization by Alfredo Enrique Gonzalez "
    description = "Pipeline for calling mitochonrdial SNVs"
    version = "1.0.0"
}