//////// Global default params, used in configs /////

params {
    // sample
    run_name = "testing_input_intermediate_false__paired"
    
    //Single or Paired?
    sample_mode = 'paired' // 'single' or 'paired'

    // sample inputs
    input_csv = '/data/users/agonzalez/002_Nextflowization_mtSNV/20210617/pipeline-call-mtSNV/inputs/CPCG0196_Validation_Test.csv'

    // input/output locations
    output_dir = '/data/users/agonzalez/002_Nextflowization_mtSNV/02_Version_2.0/output/' // 
    temp_dir = '/scratch' //

    // References
    directory_containing_mt_ref_genome_chrRSRS_files = '/data/users/agonzalez/002_Nextflowization_mtSNV/01_Version_1.0/01_pipeline/SGE/output/genome_fasta/'
    mt_ref = '/data/users/tyamaguchi/docker/mt/mitochondria-ref/chrRSRS.fasta' //location of chrRSRS.fasta
    gmapdb = '/data/ref/mitochondria_ref/gmapdb/gmapdb_2021-03-08/gmapdb/'
    

    save_intermediate_files = true
    cache_intermediate_pipeline_steps = true

    // resource configuraton for entire pipeline
    max_number_of_parallel_jobs = 1
}

includeConfig 'methods.config'

// Metadata
manifest {
    name = "call-mtSNV"
    author = "Takafumi Yamaguchi; Nextflowization by Alfredo Enrique Gonzalez "
    description = "Pipeline for calling mitochonrdial SNVs"
    version = "1.0.0"
}